// NexT 主题自定义

// 在站点之间加入竖线
.site-state-item:first-child {
    border-left: none;
}

.site-state-item {
    border-left: 1px solid #eee;
}

.links-of-author {
    margin-top: 0px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #ccc;

}

.recent-posts-title {
    font-size: 14px;
}

.recent-post-list {
    font-size: 13px;
}

// 博客文章
.post-body {
    font-size: 14px;
}

.post-copyright {
    font-size: 14px;
}

// 搜索设置
.search-result {
    font-size: 14px;
}

// 页面设置
.page .post-header {
    margin-bottom: 0;
}

.custom-black {
    margin-bottom: 60px;
}

.just-for-fun {
    font-size: 13px;
    color: #B39CD0;
    border-top: 1px solid #4B4453;
    padding-top: 10px;
}
